
.Hero h2 {
    color: var(--lightest-slate);
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: start;
    padding-left: 2.5em;
}

.Hero .self-description {
    font-weight: 600;
    font-size: 2rem;
    color: white;
}

.Hero .self-description span {
    color:rgb(158, 22, 22) ;
    
}

.Hero .about {
    color: white;
    opacity: 0.3;
    line-height: 1.6em;
}