.About {
    padding: 1em;
    color: white;
    font-family: "Neucha", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    background: linear-gradient(180deg, #20b6c6 0%, #0e7394 25%, #205fa5 100%);
    position: relative;
}

.About:after {
    content: "";
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    height: 20px;
    background: linear-gradient(180deg, #20b6c6 0%, #38788d 25%, #205fa5 100%);
    filter: blur(10px);
}

.About h1 {
    font-size: 4rem;

}

.About .about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    height: 100%;


}

.About .skills {
    background-color: rgb(64, 154, 170);
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1em;
}

.About .description-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.About .desc {
    text-align: start;
    font-size: 1.5rem;
    margin-top: 1em;

}

.About .welcome {
    font-size: 2rem;

}

.About .welcome span {
    color: #004087;
    font-weight: bold;

}

.About .first-paragraph span,
.About .second-paragraph span,
.About .third-paragraph span,
.About .forth-paragraph span {
    color: #004087;
    font-weight: bold;
}


/* media query 768px */
@media (min-width: 768px) and (max-width: 1023px) {

    .About {
        display: flex;
        align-items: center;

    }

    .About .about-me {
        flex-direction: row;

    }

    .About .description-container {
        width: 60%;
        display: flex;
        flex-direction: column;
    }


    .About .skills {
        background-color: rgb(64, 154, 170);
        width: 20%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        font-size: 2rem;
        border-radius: 5px;
        padding: 1em 0;
    }

}

/* media query 1024px */
@media (min-width: 1024px) {


    .About .about-me {
        flex-direction: row;

    }


    .About .skills {
        background-color: rgb(64, 154, 170);
        width: 20%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        font-size: 3rem;
        border-radius: 5px;
        padding: 1em 0;
    }

    .About .welcome {
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-top: 0px;
    }

    .About {
        align-items: center;
        text-align: start;
    }

    .About h1 {
        font-size: 6rem;
        margin-bottom: 2rem;
    }

    .About .desc {
        text-align: start;
        font-size: 2rem;
    }

    .About .description-container {
        width: 60%;
        display: flex;
        flex-direction: column;

    }

    .About .welcome {
        margin-bottom: 0px;
    }
}