.Header {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    color: #175E88;
    font-size: 2.5rem;
    height: 100vh;
    width: 100%;
    padding-top: 200px;
    position: relative;
    overflow-x: hidden;
}

.Header .my-name {
    font-weight: 900;
}

.Header .portfolio-text {
    font-weight: 300;
    display: block;
}

.Header .image-wave-container {
    position: absolute;
    height: 80px;
    width: 150%;
    bottom: 0px;
    animation: go-up 3s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
   
}

.Header .image-wave-container #wave1 {
    right: 200;
}

.Header .image-wave-container #wave2 {
    right: 0px;
}

.Header #wave3 {
    right: -150px;
    animation: go-up-bottom-wave 3s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}

.Header .image-wave-container img {
    height: 100%;
    width: 100%;

}

.Header #wave1 {
    right: 20px;
    opacity: 0.7;
    --i: 1;
}

.Header #wave2 {
    --i: 2;
}


.Header #wave3 {
    --i: 3;
    bottom: -20px;
}


.Header .wave-bottom-background {
    position: absolute;
    height: 40px;
    width: 150%;
    bottom: 0px;
    z-index: -2;

}

.Header .wave-bottom-background img {
    height: 100%;
    width: 100%;

}

@keyframes go-up {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 10px;
    }
}

@keyframes go-up-bottom-wave {
    0%,100% {
        bottom: -10px;
    }

    50% {
        bottom: 0px;
    }
}