.Header {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    color: #175E88;
    font-size: 2.5rem;
    height: 100vh;
    width: 100%;
    padding-top: 200px;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}

.Header .my-name {
    font-weight: 900;
}

.Header .portfolio-text {
    font-weight: 300;
    display: block;
}

.Header .image-wave-container {
    position: absolute;
    height: 80px;
    width: 150%;
    bottom: 0px;
    animation: go-up 3s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
    z-index: -1;
}

.Header .image-wave-container img {
    height: 100%;
    width: 100%;
    display: block;
}

.Header #wave1 {
    right: 80px;
    opacity: 0.7;
    --i: 1;
}

.Header #wave2 {
    --i: 2;
}

.Header .bottom-wave{  
    position: absolute; 
    right: -150px;
    --i: 3;

}

.Header .wave-bottom-background {
    position: absolute;
    height: 40px;
    width: 150%;
    bottom: 0px;
    z-index: -2;
}

.Header .wave-bottom-background img {
    height: 100%;
    width: 100%;

}

/* .Header .backgroundWaves {
    position: absolute;
    bottom: 0px;
    z-index: -2;
    display: block;
    height: 20px;

} */

@keyframes go-up {

    0%,
    100% {
        bottom: 0px;
    }

    50% {
        bottom: 10px;
    }
}