.Projects {
    padding: 1em;
    color: white;
    font-family: "Neucha", cursive;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    background: linear-gradient(180deg, #205FA5 25%, #004087 100%);
}

.Projects h1 {
    font-size: 4rem;
    margin-bottom: 2rem;

}

.Projects .projects-wrapper {
    display: grid;
    height: 450px;
    justify-content: start;
    padding: 1em;
    gap: 1em;
    grid-auto-columns: 45%;
    grid-template-rows: repeat(2, 50%);
    grid-auto-flow: column;
    overflow-y: hidden;
    /* Enable horizontal scrolling */

}

.Projects .project-container {

    border-radius: 15px;
    height: 100%;
    width: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.Projects .project-container:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(68, 146, 228, 0.7);
    transition: height 0.45s ease-in-out;

}

.Projects .project-container:hover:after {
    height: 0%;
}
































.Projects .project-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/************ responsive ************/


/*********** media query 768px **********/
@media (min-width: 768px) and (max-width: 1023px) {}

/*********** media query 1024px **********/
@media (min-width: 1024px) {

    .Projects h1 {
        font-size: 6rem;
        margin-bottom: 2rem;

    }

    .Projects .projects-wrapper {
        display: grid;
        height: 800px;
        justify-content: center;
        grid-auto-columns: 20%;
        grid-template-rows: repeat(2, 50%);
        grid-auto-flow: column;

    }



}